<% provide(:page_name, "Currency") %>
<table>
<%= form_for(@cart) do |f| %>

<tr><td>quantity: <td><%= f.text_field :quantity %></td></tr>
<tr><td>vat: <td><%= f.text_field :vat %></td></tr>
<tr><td>amount: <td><%= f.text_field :amount %></td></tr>
<tr><td></td><td align="right"><%= f.submit("Save", :class=>"btn btn-medium btn-secondary")%></td></tr>

<% end %>
</table>