<% provide(:page_name, "Account Details") %>
<table>
<%= form_for(@account) do |f| %>
<tr><td>Name: <td><%= f.text_field :name %></td></tr>
<tr><td>Surname: <td><%= f.text_field :surname %></td></tr>
<tr><td>Date Of Birth: <td><%= f.text_field :date_of_birth %></td></tr>
<tr><td>Physical Address: <td><%= f.text_area :physical_address, :size => "30x3" %></td></tr>
<tr><td>Postal Address: <td><%= f.text_area :postal_address, :size => "30x3" %></td></tr>
<tr><td>Email: <td><%= f.text_field :email_address %></td></tr>
<tr><td>Contact Number: <td><%= f.text_field :contact_number %></td></tr>
<tr><td>Password: <td><%= f.password_field :password %></td></tr>
<tr><td>Confirm: <td><%= f.password_field :confirm %></td></tr>

<tr><td></td><td align="right"><%= f.submit("Save", :class=>"btn btn-medium btn-secondary")%></td></tr>

<% end %>
</table>