<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>
<body>
<!-- Top Bar and Navigation design -->
<header class="navbar navbar-fixed-top">
	<div class="headerShade">
		<%= image_tag('w_logo_small.png', alt: 'Waku Logo') %>
	</div>

	<div class="navbar-inner">
		<div class="nav container">
			Search
		</div>
		<nav>
			<ul class=" nav pull-right">
				<li><%= link_to("Home", '#') %></li>
				<li><%= link_to("Help", '#') %></li>
				<li><%= link_to("Sign in", '#') %></li>
			</ul>
		</nav>
	
</header>


<div class="container">
	<%= yield %>
</div>

</body>
</html>
